/* --- Global & Layout --- */
* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif; /* Pastikan font Inter/Arial terload */
}

.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden; /* Mencegah scrollbar ganda */
}

/* --- Sisi Kiri (Form) --- */
.login-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background: white;
}

.login-box {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
}

.logo-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 30px;
}

.logo-text {
  font-weight: 700;
  font-size: 18px;
  color: #000;
}


.title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
  color: #000;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.3;
}


.input-wrapper {
  margin-bottom: 20px;
  width: 100%;
}

.input-field-container {
  display: flex;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 10px 15px;
  background: #fff;
  transition: all 0.2s;
}

.input-field-container:focus-within {
  border-color: #333; 
}

.icon-gray {
  color: #b0b0b0;
  margin-right: 12px;
  display: flex;
  align-items: center;
}

.custom-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
  color: #333;
}

.custom-input::placeholder {
  color: #b0b0b0;
}


.eye-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #b0b0b0;
  display: flex;
  align-items: center;
  padding: 0;
}



.input-field-container.border-error {
  border-color: #f42619;
}

.error-text {
  color: #f42619;
  font-size: 12px;
  text-align: right; 
  margin-top: 5px;
  display: block;
}


.btn-submit {
  width: 100%;
  background-color: #f42619;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s;
}

.btn-submit:hover {
  background-color: #d02015;
}


.footer-text {
  text-align: center;
  margin-top: 25px;
  font-size: 13px;
  color: #888;
}

.link-red {
  color: #f42619;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}


.login-right {
  flex: 1;
  background-color: #fff1f0;
  justify-content: center;
  align-items: center;
}

.hero-image {
  max-width: 80%;
  height: auto;
  object-fit: contain;
}

/* Responsiveness */
@media (max-width: 768px) {
  .login-right {
    display: none;
  }
}