.transaction-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 15px 25px;
  margin-bottom: 15px;
}

.text-green { color: #52bd94; font-size: 20px; font-weight: 700; }
.text-red { color: #f42619; font-size: 20px; font-weight: 700; }

.text-date { color: #aaa; font-size: 12px; margin-top: 5px; }
.text-desc { font-size: 12px; color: #333; text-align: right; }

.btn-show-more {
  display: block;
  margin: 30px auto;
  background: none;
  border: none;
  color: #f42619;
  font-weight: 700;
  cursor: pointer;
  font-size: 14px;
}

.empty-state {
  text-align: center;
  margin-top: 50px;
}